@tailwind base;
@tailwind components;
@tailwind utilities;

.body-locked {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}

.modal__backdrop {
  overscroll-behavior: contain;
}
